.d-flex{
    background-color: rgb(67, 218, 25);
     margin-left: -56%;
     margin-top: 0%;
 }
 .nav-item{
     margin: 19.3%;
     padding-bottom: 1.4%;
 }
 a{
    text-decoration: none;
    color: aliceblue;
 }