.container{
    background-image: url("./Suppier.png");
   padding: 36%;
   margin-left: 3%;
   padding-left:70%;
   padding-right: 70%;
   padding-bottom: 50%;
   margin-top: 13%;
   border-radius: 10%;
}